@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: no-repeat linear-gradient(-45deg, #d2ddab, #e2e6d4);
    min-height: 100vh;
    font-family: 'Manrope', sans-serif;
}

main {
    text-align: center;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    padding-top: 30px;
    color: #8a195f;
    text-shadow: 3px 3px white;
}

button {
    background: linear-gradient(45deg, #8a195f, #d61c90);
    border: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
}

button:hover {
    cursor: pointer;
    background: #d61c90;
}

#game-canvas {
    border: 1px solid black;
    margin: 50px auto 0 auto;
    display: block;
    width: 400px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    background-color: white;
}

#messages {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#arrow-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 300px;
    margin: 0 auto 20px auto;
    gap: 20px;
    grid-template-areas: 'left up right' 'left down right';
    align-items: center;
}

#left {
    grid-area: left;
}

#right {
    grid-area: right;
}

@media (max-width: 650px) {
    #game-canvas {
        width: 300px;
    }
}
